<p>
  Sync folder with <strong>Dropbox</strong> 
</p>
<ul>
  <li>Blot will create a new folder in Dropbox for this site.</li>
  <li>Blot will only have access to this folder.</li>
  <li>You can switch from Dropbox to another sync method at any time.</li>
</ul>

<form class="dashboard-form" action="{{{base}}}/disconnect" method="post">
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <div class="buttons">
    <a href="{{{base}}}/redirect">Sync with Dropbox</a>
    <button type="submit">Cancel</button> 
  </div>
</form>