
.line,
.line a {
  text-decoration: none;
}

.line {
  display: flex;
  flex-wrap: wrap;
  padding: 0.667em 1em;
  line-height: 1.4;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  transition: background-color 0.2s;
}


a.line:hover {
  background: var(--light-background-color);
}

a.line:active {
  background: var(--medium-background-color)
}

a:hover .link,
a.line:hover .right {
  text-decoration: underline;
}

.link,
.right {
  color: var(--accent-color);
}

:not(.label) + .link {
  font-size: 14px;
  margin-left: 12px;
}

.right {
  text-decoration: underline;
  flex-shrink: 0;
  padding-left: 12px;
}


.label {
  color: var(--medium-text-color);
  display: inline-block;
  flex-basis: 100%;
  font-size: 14px;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;  
  top: 2px
}

.collapse-on-small-screens .label {
flex-basis: 100%;
}

.center,
div.line a.link {}

.center {
  flex-grow: 0;
}

div.center {}

.center b {
  color: var(--text-color);
  font-weight: 500
}

.center {
  color: var(--text-color);
}

.tablet {
  border-radius: 18px;
  padding: 0 8px;
  line-height: 1.4;
  border: 1px solid var(--border-color);
  display: inline-block;
  font-size: 16px;
}

.tablet:empty {display: none;}



