<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        <h1>Entries tagged “{{tag}}”</h1>
        <div class="archives">
          {{#entries}}
          <a href="{{url}}">{{title}}</a>
          <span class="small">{{date}}</span>
          <br />
          {{/entries}}
        </div>
        {{#pagination}}
        <div class="pagination">
          {{#previous}}
          <a href="/tagged/{{slug}}/page/{{previous}}">&larr; Newer</a>
          {{/previous}}
          Page {{current}} of {{total}}
          {{#next}}
          <a href="/tagged/{{slug}}/page/{{next}}">Older &rarr;</a>
          {{/next}}
        </div>
        {{/pagination}}
      </div>
    </div>
    {{> footer}}
  </body>
</html>