{{> close-button}}

<div style="border:1px solid var(--border-color);border-radius: var(--border-radius);padding:20px">
        <h1>Are.na import</h1>
  <p style="max-width: 600px;">
    The importer can turn an <a href="https://www.are.na/" rel="nofollow">Are.na channel</a> into an archive (.zip) containing
    markdown files. The importer downloads images and stores them with the
    markdown files.
  </p>
  <br />

  <form method="POST">
    <input type="hidden" name="_csrf" value="{{csrftoken}}" />

    <label>Are.na channel URL:</label>
    <input
      type="text"
      name="channel"
      placeholder="https://www.are.na/..."
    />

    <div class="buttons">
      <button type="submit">Start import</button>
      <a href="{{{importBase}}}">Cancel</a>
    </div>
  </form>

</div>