
.CodeMirror {
	flex-grow: 1;
	min-height: calc(100vh - 182px);
	font-family: monospace;
}

.CodeMirror-gutters {
  padding-right: 4px;
}

.CodeMirror-linenumber {
	color: var(--light-text-color);
}

.file-list {
  border:1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.file-list .template-row.selected {
  background-color: var(--light-background-color);
}

.file-list .template-row.selected .template-row__link,
.file-list .template-row__link.selected {
  color: var(--accent-color);
  font-weight: 600;
}

.file-list .template-row__link svg {
    fill:currentColor;
    vertical-align: middle;
    position:relative;
    top:-0.1em;

}
.file-list .template-row__link svg {
  width: 18px;height: 18px;
}
.file-list .template-row__link span,
.file-list .template-row__link svg {
  margin-right: 0px;

}

.file-list .template-row__link {
        font-size: 14px;
  padding:2px 11px;
        display: block;
        color: var(--medium-text-color);
        text-decoration: none;
  background-color: transparent;
  transition: background-color 0.2s;
}

.file-list .template-row__link:hover,
.file-list .template-row__link:focus-visible {
  background-color: var(--light-background-color);
}

.tab.selected {
	border-bottom: none;
	font-weight: 500;
	color: #000;
	background: transparent;
}

  
  .CodeMirror-lines {
    padding: 0;
  }
  .CodeMirror-gutters {
    background: var(--background-color);
  }


 .error {padding: 0.75rem 1rem;
    background: oldlace;
    /* margin: 1rem; */
    border: 1px solid orange;
    /* border-bottom: 1px solid orange; */
    color: #a06800;
    margin: 0 15px 7px;
    z-index: 2;}

  #save.button {
        border-radius: var(--border-radius);
        border: 1px solid var(--dark-border-color);
    padding: 8px 16px;
    text-decoration: none;
    color: var(--success-text-color);
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    font-size: 14px;
    text-align: left;
    cursor: pointer;

  }

  #save.button:before {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 1em;
    font-size: 8px;
    background: var(--success-text-color);
    margin-right:  12px
  }

  #save.button.disabled:before {background: #ddd;text-shadow: none;}

  #save.button.disabled {
    background-color: #fafafa;
    border-color: #fafafa;
    color: var(--light-text-color);
    font-weight: 500;
  }


  .CodeMirror-sizer {
  }

  .editor-container{
    width:calc(100vw - 670px);border:1px solid var(--border-color);border-radius: var(--border-radius);
  }

  .editor-container .error {
    margin:-1px 0 0 0;
    border-left: none;
    border-right: none;
  }