
.CodeMirror {
	flex-grow: 1;
	min-height: calc(100vh - 182px);
	font-family: monospace;
}

.CodeMirror-gutters {
  padding-right: 4px;
}

.CodeMirror-linenumber {
	color: var(--light-text-color);
}

.file-list {
  border:1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.file-list .selected {
	background-color: var(--light-background-color);
  color: var(--accent-color);
  font-weight: 600;
}

.file-list a svg {
    fill:currentColor;
    vertical-align: middle;
    position:relative;
    top:-0.1em;

}

.file-list a span,
.file-list a svg {
  margin-right: 2px;

}
  
.file-list a {
	font-size: 14px;
  padding:2px 16px;
	display: block;
	color: #777;
	text-decoration: none;
  background-color: transparent;
  transition: background-color 0.2s;
}

.file-list a:hover {
  background-color: var(--light-background-color);
}

.tab.selected {
	border-bottom: none;
	font-weight: 500;
	color: #000;
	background: transparent;
}

.smallLink {font-size: 11px;color: #555;margin-left:0.2rem}
  
  .CodeMirror-lines {
    padding: 0;
  }
  .CodeMirror-gutters {
    background: var(--background-color);
  }


 .error {padding: 0.75rem 1rem;
    background: oldlace;
    /* margin: 1rem; */
    border: 1px solid orange;
    /* border-bottom: 1px solid orange; */
    color: #a06800;
    margin: 0 15px 7px;
    z-index: 2;}

  #save.button {
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
    padding: 8px 16px;
    text-decoration: none;
    color: var(--success-text-color);
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    font-size: 14px;
    text-align: left;
    cursor: pointer;

  }

  #save.button:before {
    content: "";
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 1em;
    font-size: 8px;
    background: var(--success-text-color);
    margin-right:  12px
  }

  #save.button.disabled:before {background: #ddd;text-shadow: none;}

  #save.button.disabled {
    background-color: #fafafa;
    border-color: #fafafa;
    color: var(--light-text-color);
    font-weight: 500;
  }


  .CodeMirror-sizer {
  }