
<p>
  Sync folder with <strong>Git</strong> 
</p>
<ul>
  <li>Blot will create a Git repository for this site.</li>
  <li>Blot will publish changes when you push.</li>
  <li>You can switch from Git to another sync method at any time.</li>
</ul>
<form method='post' class="dashboard-form" >
  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <div class="buttons">
    <button type="submit">Sync with Git</button>
    <button type="submit" name="cancel" value="cancel">Cancel</button>
  </div>
</form>




