{{> message}}

<ul class="steps">
  <li>
    <strong>Create a new folder</strong> in your iCloud Drive.  
  </li>
  <li>
    <strong>Right-click the new folder</strong> and select <b>Share...</b>
  </li>
  <li>
    In the sharing options, select <b>Invite with Link</b>.
    <details>
      <summary>
        <span class="icon-support"></span> Can’t find “Invite with Link”?
      </summary>
      <p>
        At the top of the sharing window, make sure you have <b>Collaborate</b> selected (not “Send Copy”).
      </p>
    </details>
  </li>
  <li>
    <strong>Add this email as a collaborator:</strong>
    <br>
    {{blotiCloudAccount}}
    <button class="copy" data-copy="{{blotiCloudAccount}}">
      <span class="icon-copy"></span> Copy email
    </button>
  </li>
  <li>
    <form class="dashboard-form" action="{{{base}}}/set-up-folder" method="post" style="margin-top: 12px;">
      <input type="hidden" name="_csrf" value="{{csrftoken}}">
      <input type="hidden" name="redirect" value="{{{base}}}/setup">
      <input type="hidden" name="blotiCloudAccount" value="{{blotiCloudAccount}}">
      <label for="sharingLink" style="margin-top:12px;font-size:16px;color:var(--text-color)">Paste iCloud folder sharing link here:</label>
      <input type="text" name="sharingLink" placeholder="https://www.icloud.com/iclouddrive/..." value="">
      <div class="buttons">
        <button type="submit">Finish Setup</button> 
        <button type="submit" name="cancel" value="true">Cancel</button> 
      </div>
    </form>
  </li>
</ul>

<style>

strong, b {
    font-weight: 600;
}

    form.dashboard-form input::placeholder {
  color: #c0c0c0; /* Light grey */
  opacity: 1;     /* Ensures full visibility in some browsers */
}

/* For increased browser compatibility: */
form.dashboard-form input::-webkit-input-placeholder { color: #c0c0c0; }
form.dashboard-form input::-moz-placeholder { color: #c0c0c0; }
form.dashboard-form input:-ms-input-placeholder { color: #c0c0c0; }
form.dashboard-form input::-ms-input-placeholder { color: #c0c0c0; }

    details {
  font-size: 14px;
  margin-top: 6px;
  color: var(--medium-text-color);
}

details > summary:first-of-type {
  list-style-type: none;
}

details summary {
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}
</style>