/* Font picker control */
.template-font-control {
  width: 100%;
  overflow: visible;
}

.font-picker-trigger {
  width: 100%;
  padding: 0.5rem 16px;
  cursor: pointer;
  position: relative;
  border: none;
  text-align: left;
  display: block;
  border-bottom: 1px solid var(--border-color);
  font: inherit;
  color: inherit;
  background-color: var(--background-color);
}

.font-picker-trigger::before {

}

.font-picker-trigger:hover {
  background-color: var(--light-background-color);
  outline: none;
}
.font-picker-trigger::after {
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  right: 12px;
  opacity: 0.3;
  transform: rotate(90deg);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z'/></svg>");
  background-size: 1em;
}
.font-picker-trigger:hover::after  {
  opacity: 0.7;
}

.font-picker-trigger svg {
  height: 1.5em;
  display: block;
}

.template-font-control input[type="number"] {
  margin-left: 8px;
  font-variant-numeric: tabular-nums;
  flex-grow: 0;
  width: 60px;
}

.sizing label {font-size: 12px;}

.sizing {
  border-bottom: 1px solid var(--border-color);
  padding: 6px 16px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.sizing:hover {
  background-color: var(--light-background-color);
}
.sizing:last-child {border-bottom: none;}
/* Shared picker */
.template-font-picker {
  position: absolute;
  z-index: 1000;
  background: #fafafa;
  border: 1px solid var(--border-color);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  user-select: none;
  display: flex;
  margin-top:-7px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden;
  margin-left: -1px;
  flex-direction: column;
}

.template-font-picker[hidden] {
  display: none;
}

.template-font-picker__filters {
  font-size: 12px;
  padding: 0.3em 0.5em;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  gap: 0.25em;
  background-color: var(--light-background-color);
  flex-wrap: wrap;
}

.template-font-picker__filter {
  border-radius: 10px;
  padding: 0.15em 0.5em;
  cursor: pointer;
  color:var(--light-text-color);
  border: none;
  background: transparent;
}

.template-font-picker__filter:hover {
  color: var(--accent-color);

}

.template-font-picker__filter.is-active {
  background: #ebebff;
  color: var(--accent-color);
}

.template-font-picker__options {
  height: 340px;
  width: 280px;
  overflow-y: scroll;
  overflow-x: hidden;

}



.template-font-picker__option {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  display: block;
  border: none;
  outline: none;
  font-size: 1.2em;
  line-height: 1.1;
  background: #fafafa;
  border-bottom: 1px solid var(--border-color);
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.template-font-picker__option:hover {
  background: #fff;
}

.template-font-picker__option.is-selected {
  background: #e0e0e0;
}

.template-font-picker__option svg {
  height: 1em;
  font-size: 1.2em;
  display: block;
}
