<style>
    [name="{{key}}-filter"],
[name="{{key}}-toggle"] {display: none;}

label[for="{{key}}-toggle"] {padding:0.333em 1em;cursor: pointer;border-bottom: 1px solid #ddd;display: block;margin:0;user-select: none;}

label[for="{{key}}-toggle"]:hover {background: #fff}

input[name="{{key}}-toggle"]:checked + .options {display: block;}


[id="{{key}}-show-all"]:checked ~
.options label[for="{{key}}-show-all"],
[id="{{key}}-show-light"]:checked ~
.options label[for="{{key}}-show-light"],
[id="{{key}}-show-dark"]:checked ~
.options label[for="{{key}}-show-dark"] {background: #e0e0e0;}

[id="{{key}}-show-dark"]:checked ~
 .options button:not([data-tag="dark"]),
[id="{{key}}-show-light"]:checked ~
 .options button:not([data-tag="light"]) {display: none;}
</style>

<div class="settings-group">
<h2 class="template-heading">{{label}}</h2>
<form method="post" class="syntax-highlighter select" {{#expanded}}data-expanded="true"{{/expanded}}>
  <input type="hidden" name="_csrf" value="{{csrftoken}}" />
  <label for="{{key}}-toggle">
    {{#value}}
      {{#name}}
      <span style="font-family: {{stack}};">{{name}}</span>
      {{/name}}
      {{^name}}
      Select a color scheme
      {{/name}}
    {{/value}}
  </label>    

  <input name="{{key}}-filter" type="radio" id="{{key}}-show-all" checked>
  <input name="{{key}}-filter" type="radio" id="{{key}}-show-light">
  <input name="{{key}}-filter" type="radio" id="{{key}}-show-dark">

  <input name="{{key}}-toggle" type="checkbox" id="{{key}}-toggle" {{#expanded}}checked{{/expanded}}>

  <div class="options">
    <div class="filters">
      <label for="{{key}}-show-all">All</label>
      <label for="{{key}}-show-light">Light</label>
      <label for="{{key}}-show-dark">Dark</label>
    </div>
    {{#options}}
    <button 
      type="submit" 
      {{#tags}}
      data-tag="{{tag}}"
      {{/tags}}
      name="locals.{{key}}.id" 
      value="{{{id}}}" 
      style="background:{{background}};color:{{color}}" 
      {{selected}}>
      {{{name}}}
      {{#colors}}<span style="color:{{color}}">&bull;</span>{{/colors}}
    </button>
    {{/options}}
  </div>
</form>

{{#font}}
{{> font}} 
{{/font}}

</div>