form.select {
  padding:8px 16px;font-size: 14px;display:flex;align-items: center;
  border-bottom: 1px solid var(--light-border-color);
  position: relative;
}  
  form.select:hover {background: #fff;}
form.select:last-of-type {border-bottom: none;}

form.select select,
#date_display {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border:none;
    cursor: pointer;
    text-align: right;
    padding-right: 18px;
    font-size: 14px;
    color: var(--text-color)
}

#date_display {
  text-align: left;
  margin:0;
  flex-grow: 1;
  border-bottom: 1px solid var(--light-border-color);
}

form.select:hover,
#date_display:hover {
  background-color: var(--light-background-color);
}

form.select::before,
#date_display::before {
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  right: 12px;
  opacity: 0.3;
  transform: rotate(90deg);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z'/></svg>");
  background-size: 1em;
}

form.select:hover::before,
#date_display:hover::before {
  opacity: 0.7;
}