<a class="line" href="{{{base}}}/uploads/{{key}}" style="padding: 11px 14px;border-bottom: none;">
  {{^value}}
  <span class="center" style="border: 1px dashed var(--border-color);width: 48px;height:48px;display:inline-block; vertical-align: middle;margin-right: 0.5rem;border-radius: var(--border-radius);">
  </span>
  <span class="link">Choose a {{label_lower}}</span>
  {{/value}}
  
  {{#value}}
  <span class="center" style="width: 48px;height:48px;display:inline-block; vertical-align: middle;">
    <img style="max-width:48px;max-height:48px;vertical-align: baseline; display: inline;" src="{{{value}}}" alt="{{label}} preview" />
  </span>
  <span class="link">Edit {{label_lower}}</span>
  {{/value}}
</a>
