<br><br>
<form method="POST" class="dashboard-form">
	<input type="hidden" name="_csrf" value="{{csrftoken}}" />
    {{#template.isMine}}
	    {{^template.checked}}
    
	
  <p>
    If you <b>delete the {{template.name}} template</b>, Blot will permanently remove its code and its settings. This cannot be undone.
  </p>

  <div class="buttons">
    <button type="submit" class="red">
      Delete template
    </button>
    <a href="{{{base}}}">Do not delete</a>
  </div>
    {{/template.checked}}
    {{/template.isMine}}

    {{#template.checked}}
    <p>The <strong>{{template.name}}</strong> template is your current template and cannot be deleted. Use another template first, then delete this one.</p>
        <div class="buttons" style="opacity: 0.5;">
        <a href="{{{base}}}">Cancel</a>
    </div>
    </button>

    {{/template.checked}}

    {{^template.isMine}}
    <p>You cannot delete a default template.</p>
    <div class="buttons" style="opacity: 0.5;">
        <a href="{{{base}}}">Cancel</a>
    </div>
    {{/template.isMine}}

</form>