<form action="{{{editURL}}}/duplicate" method="post" style="background: #f8faff;border-radius:var(--border-radius);box-shadow: var(--box-shadow);padding:1rem">
        <input type="hidden" name="_csrf" value="{{csrftoken}}" />
        <div style="display: flex;flex-direction: column;align-items: center;">
        <span style="font-size: 14px;">{{name}}</span>
        <img src="{{#cdn}}/images/examples/{{thumbnailSlug}}/0-icon.png{{/cdn}}" style="width: 24px;border: 1px solid var(--border-color);border-radius: var(--border-radius);margin: 1rem 0;" />
        <button type="submit" class="template-button">Duplicate</button>
        </div>
  </form>
