<br><br>
<form action="{{{base}}}/install" method="POST" class="dashboard-form">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <input type="hidden" name="template" value="{{template.id}}">

    {{^template.checked}}
    <p>Would you like to make <strong>{{template.name}}</strong> your current template? You can switch template at any point.</p>
    <div class="buttons">
        <button type="submit">Use this template</button>
        <a href="{{{base}}}">Cancel</a>
    </div>
    {{/template.checked}}

    {{#template.checked}}
    <p>The <strong>{{template.name}}</strong> template is your current template.</p>
        <div class="buttons" style="opacity: 0.5;">
        <a href="{{{base}}}">Cancel</a>
    </div>
    </button>

    {{/template.checked}}

    </form>