{{> template-settings-back}}

<form method='post' class="dashboard-form" action='{{{dashboardBase}}}' enctype='multipart/form-data' style="max-width: 600px;">

  	<div class="settings-group">
		<h2 class="template-heading">Menu links</h2>

    <input type="hidden" name="_csrf" value="{{csrftoken}}" />
    <input type="hidden" name="redirect" value="{{{base}}}/links" />

<div style="padding:2em">

<!-- Neccessary to produce an empty menu -->
<input type="hidden" name="hasMenu" value="true" />

<section id="menu" class="fullRow sortable" style="max-width: 100%">
  {{^blog.menu.length}}
  <i id="emptyMenu">Your menu is empty</i>
  {{/blog.menu.length}}
  {{#blog.menu}}
  <section id="link_{{ id }}">
    <span class="handle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M10 13a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0-4a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm-4 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm5-9a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg></span>
    <input type="hidden" name="menu.{{ index }}.id" value="{{ id }}"/ >
    {{#page}}

    <div style="flex-grow: 1;border-left: 1px solid var(--border-color);">
    <div style="display: flex;">
      <span style="flex-basis: 33%;flex-grow:1;padding: 8px 10px;border-right: 1px solid var(--border-color);">{{
        label
      }}</span>
      <span  style="flex-basis: 33%;flex-grow:1;padding:8px 10px;border-right: 1px solid var(--border-color);">{{
        url
      }}</span>
          <a href="#!" class="removeLink page">Delete</a>
      </div>

      <a href="{{{dashboardBase}}}/folder{{{id}}}" style="display: block;font-size: 14px;border-top: 1px solid var(--border-color);padding:5px 10px;">
        <span class="icon-file"></span>&nbsp;
        {{
        id
      }}</a>

      <div class="details" style="display: none;font-size: 14px;border-top: 1px solid var(--border-color);background:var(--light-background-color);padding:0 10px 10px">
        <p>To remove this link from your menu, add the following <a href="/how/metadata#menu">metadata</a> to the file:</p>
        <pre style="margin-bottom: 0;"><code>Menu: no</code></pre>
      </div>
          
</div>
    {{/page}}
    {{^page}}

    <input
      class="lab"
      placeholder="Label"
      type="text"
      name="menu.{{ index }}.label"
      value="{{ label }}" />
    <input
      class="val"
      placeholder="URL"
      type="text"
      name="menu.{{ index }}.url"
      value="{{{url}}}" />
    <a href="#!" class="removeLink">Delete</a>
    {{/page}}
  </section>
  {{/blog.menu}}
</section>

<section id="link_" style="display: none">
    <span class="handle"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M10 13a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm0-4a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm-4 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm5-9a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg></span>
  <input disabled type="hidden" name="menu.{index}.id" value="{id}"/ >
  <input
    disabled
    class="lab"
    placeholder="Label"
    type="text"
    name="menu.{index}.label"
    value="" />
  <input
    disabled
    class="val"
    placeholder="URL"
    type="text"
    name="menu.{index}.url"
    value="" />
  <a href="#!" class="removeLink">Delete</a>
</section>

<div class="clear"></div>


<a
  id="add"
  href="#!">
    <span class="icon-plus"></span>&nbsp; Add link</a
>

{{> form-footer}}

</div>

</div>
</form>

<script src="/js/jquery.js?{{ cacheID }}"></script>
<script src="/js/sortable.js?{{ cacheID }}"></script>
<script type="text/javascript">
  Sortable.create($(".sortable")[0], {
    handle: ".handle",
    ghostClass: "sortable-ghost",
    onUpdate: function () {
      $(".sortable")
        .find("section")
        .each(function () {
          var index = $(this).index();
          $(this)
            .find("input")
            .each(function () {
              var name = $(this).attr("name");
              var newName =
                name.slice(0, name.indexOf(".") + 1) +
                index +
                name.slice(name.lastIndexOf("."));
              $(this).attr("name", newName);
              console.log(name + " > " + newName);
            });
          console.log("");
        });
    }
  });

  $("#menu").on("click", ".removeLink", function (e) {

    if ($(this).hasClass('page')) {
      $(this).parent().parent().find('.details').toggle();
      return;
    }

    $(this).parent().remove();
    e.preventDefault();

    if (!$("#menu section").length) {
      $("#emptyMenu").show();
    }

    return false;
  });

  $("#add").click(function (e) {
    
    var index = $("#menu section").length;
    var linkID = new Date().getTime();
    var newlink = $("#link_").clone().removeAttr("style");

    $("#emptyMenu").hide();

    newlink
      .attr("id", function (el, val) {
        return val + linkID;
      })
      .find("input")
      .removeAttr("disabled")
      .end()
      .find('input[name*="{index}"]')
      .attr("name", function (i, val) {
        return val.split("{index}").join(index);
      })
      .end()
      .find('input[value*="{id}"]')
      .attr("value", function (i, val) {
        return val.split("{id}").join(linkID);
      })
      .end();

    newlink.appendTo("#menu");

    $('[name="title_' + linkID + '"]').focus();

    e.preventDefault();
    return false;
  });
</script>

