<hr style="border:none;border-top:1px solid var(--border-color);margin:-16px 0 0">
<br><br>
<form class="dashboard-form" method="POST">

    <input type="hidden" name="_csrf" value="{{csrftoken}}" />
    {{#template.isMine}}
	<input type="text" name="name" autofocus placeholder="{{template.name}}" value="{{template.name}}" />
    <div class="buttons">
        <button type="submit">
            Rename template
        </button>
        <a href="{{{base}}}">Cancel</a>
    </div>
    {{/template.isMine}}
    {{^template.isMine}}
    <p>You cannot rename a default template.</p>
    <div class="buttons" style="opacity: 0.5;">
        <a href="{{{base}}}">Cancel</a>
    </div>
    {{/template.isMine}}
</form>
