
<div style="display: flex;">
    <div style="width: 33.33333%;flex-grow: 0;flex-shrink: 0;box-sizing: border-box;padding:0 1rem 0 0;max-width: 300px;">
            {{> template-sub-navigation}}

            {{> template-editor-sidebar}}
    </div>
    <div style="box-sizing: border-box;flex-grow: 1;width: 66.66666%;
    flex-shrink: 0;padding:0 0 0 1rem;            position: sticky;
    top: 0;">
        <div class="iframe-container" data-origin="{{{previewOrigin}}}">
            <iframe id="full_size_preview"
                      width="960"
                      height="1400"
                      scrolling="no"
                    src="{{{preview}}}"
                    ></iframe>
        </div>
        <br><br>
    </div>
</div>

<div
  id="template-font-picker"
  class="template-font-picker"
  data-template-font-picker
  hidden
>
  <div class="template-font-picker__filters" data-font-picker-filters>
    <button
      type="button"
      class="template-font-picker__filter is-active"
      data-font-picker-filter="all"
    >
      All
    </button>
    <button
      type="button"
      class="template-font-picker__filter"
      data-font-picker-filter="sans"
    >
      Sans
    </button>
    <button
      type="button"
      class="template-font-picker__filter"
      data-font-picker-filter="serif"
    >
      Serif
    </button>
    <button
      type="button"
      class="template-font-picker__filter"
      data-font-picker-filter="mono"
    >
      Mono
    </button>
    <button
      type="button"
      class="template-font-picker__filter"
      data-font-picker-filter="other"
    >
      Other
    </button>
  </div>
  <div
    class="template-font-picker__options"
    data-font-picker-options
    role="listbox"
    aria-label="Available fonts"
  >
    {{#fontPickerOptions}}
    <button
      type="button"
      class="template-font-picker__option"
      data-font-option-id="{{{id}}}"
      data-font-tags="{{tagsString}}"
      role="option"
      aria-selected="false"
    >
      {{#svg}}
        {{{svg}}}
      {{/svg}}
      {{^svg}}
        <span style="font-family: {{stack}};">{{name}}</span>
      {{/svg}}
    </button>
    {{/fontPickerOptions}}
  </div>
</div>

