<div style="margin-top: 2rem;">
    <a href="{{{base}}}/" class="template-button" style="margin-left: 0;">
        &larr; Back to template settings
    </a>
</div>

<div style="display: flex;margin-top:2rem">
    <div style="width: 33.33333%;flex-grow: 0;flex-shrink: 0;box-sizing: border-box;padding:0 1rem 0 0">
        {{#syntax_themes}}
        {{> highlighter}}
        {{/syntax_themes}}
        {{^syntax_themes}}
        <div class="settings-group">
            <p>Syntax highlighting controls are not available for this template.</p>
        </div>
        {{/syntax_themes}}
    </div>
    <div style="box-sizing: border-box;flex-grow: 1;width: 66.66666%;flex-grow: 0;flex-shrink: 0;padding:0 0 0 1rem;            position: sticky;top: 0;">
        <div class="iframe-container" data-origin="{{{previewOrigin}}}">
            <iframe id="full_size_preview"
                      width="960"
                      height="1400"
                      scrolling="no"
                    src="{{{preview}}}"
                    ></iframe>
        </div>
        <br><br>
    </div>
</div>
