<div class="inputs">
	<div class="settings-group">
		<h2 class="template-heading">Menu links</h2>
		<a class="line links" href="{{{base}}}/links">
			<span class="center">
				{{#blog.menu}}
				<span class="tablet">{{label}}</span>
				{{/blog.menu}}
				
				{{^blog.menu.length}}
				<i>Your menu is empty</i>
				{{/blog.menu.length}}
				<span class="link" >Edit</span>
			</span>
			</a>
	</div>	

	<div class="settings-group">
		<h2 class="template-heading">Photo</h2>
		<a class="line" href="{{{base}}}/photo"  style="padding: 11px 14px;border-bottom: none;"> 
		{{^blog.avatar}}
		<span class="center" style="border: 1px dashed var(--border-color);width: 48px;height:48px;display:inline-block; vertical-align: middle;margin-right: 0.5rem;border-radius: var(--border-radius);">
		</span>
		<span class="link">Choose a photo</span>
		{{/blog.avatar}}
		
		{{#blog.avatar}}
		<span class="center" style="width: 48px;height:48px;display:inline-block; vertical-align: middle;">
			<img style="max-width:48px;max-height:48px;vertical-align: baseline; display: inline;" src="{{blog.avatar}}" class="{{#blog.roundAvatar}}rounded{{/blog.roundAvatar}}" />
		</span>
		<span class="link" >Edit</span>    
			{{/blog.avatar}}
		</a>
	</div>

	{{#colors.length}}
	<div class="settings-group">
	<h2 class="template-heading">Colors</h2>
	{{#colors}} 
	{{> color}} 
	{{/colors}}
	</div>
	{{/colors.length}}

	{{#fonts.length}} 	
	{{#fonts}} 
	{{> font}} 
	{{/fonts}} 
	{{/fonts.length}} 	

	{{#navigation.length}}
	<div class="settings-group">
	<h2 class="template-heading">Navigation</h2>
	{{#navigation}}
	{{> template-editor-group}}
	{{/navigation}}
	</div>
	{{/navigation.length}}


	{{#index_page.length}}
	<div class="settings-group">
	<h2 class="template-heading">Index page</h2>
	{{#index_page}}
	{{> template-editor-group}}
	{{/index_page}}
	</div>
	{{/index_page.length}}

	{{> date}}

{{#syntax_themes}}
        <div class="settings-group">
                <h2 class="template-heading">Syntax highlighter</h2>
                <a class="line" href="{{{base}}}/syntax-highlighter" style="padding: 11px 20px;">
                        <span class="center">Open syntax controls</span>
                        <span class="right">Edit</span>
                </a>
        </div>
        {{/syntax_themes}}
</div>

{{#template.isMirror}}
<div class="settings-group">
        <a class="line" href="{{{base}}}/reset" style="padding: 11px 20px;font-size: 14px;border-bottom: none;">
                <span class="center" style="color:var(--error-text-color)"><svg style="fill:currentColor;vertical-align: middle;position:relative;top:-0.1em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"></path></svg>&nbsp; Reset template</span>
        </a>
</div>
{{/template.isMirror}}

