<div
  class="template-row {{#selected}}selected{{/selected}}"
  data-template-slug="{{slug}}"
  data-template-name="{{#localEditing}}{{slug}}{{/localEditing}}{{^localEditing}}{{name}}{{/localEditing}}"
>
  <a href="{{{editURL}}}" class="template-row__link">
    <span class="preview" style="position: relative">
      {{^localEditing}}
      <img
        src="{{#cdn}}/images/examples/{{thumbnailSlug}}/0-icon.png{{/cdn}}"
        width="48" height="35"
      />
      {{/localEditing}} {{#localEditing}}
      <span
        style="
          position: absolute;
          bottom: 0;
          right: -0;
          font-size: 16px;
          width: 16px;
          height: 16px;
        "
      >
        <span
          class="icon-folder"
          style="position: absolute; top: 0; left: 0"
        ></span>
      </span>
      {{/localEditing}}
    </span>

    {{^localEditing}} {{name}} {{/localEditing}} {{#localEditing}} {{slug}}
    {{/localEditing}} {{#checked}}
    <span
      style="
        color: var(--success-text-color);
        background-color: var(--success-background-color);
        font-size: 10px;
        font-weight: bold;
        border-radius: var(--border-radius);
        padding: 2px 4px;
        margin-left: 6px;
        text-wrap: nowrap;
      "
      >In use</span
    >
    {{/checked}}
  </a>
  <button
    class="template-row__menu-trigger"
    type="button"
    data-editurl="{{{editURL}}}"
    data-previewurl="{{{previewMenuURL}}}"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span class="icon-dots"></span>
  </button>
</div>
