<div id="template-list" style="padding-top: 2rem">
  <h2>Your templates</h2>

  {{#yourTemplates}} {{> template-row}} {{/yourTemplates}}

  <div class="template-row {{newSelected}}">
    <a href="{{{dashboardBase}}}/template/new">
      <span
        class="preview"
        style="margin-right:9px;border:1px dashed #ccc;{{#newSelected}}border-color:var(--accent-color);{{/newSelected}}border-radius:3px;box-shadow: none;"
      >
      </span>New template
    </a>
  </div>

  {{#templatesInYourFolder.length}}
  <h2>Templates in folder</h2>
  {{/templatesInYourFolder.length}} {{#templatesInYourFolder}} {{>
  template-row}} {{/templatesInYourFolder}} {{#blotTemplates.length}}
  
  <h2>Default templates</h2>
  {{/blotTemplates.length}} {{#blotTemplates}} {{> template-row}}
  {{/blotTemplates}} {{#pastTemplates}} {{> template-row}} {{/pastTemplates}}
</div>

