#breadcrumbs-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 2em;
}

#breadcrumbs {
  min-width: 0;
  display: flex;
  align-items: center;
}

#breadcrumbs a {
  max-width: 300px;
  overflow: hidden;
  color: var(--medium-text-color);
  text-decoration: none;
  transition: color 0.2s;
}

#breadcrumbs span {
  color: var(--border-color);
  font-size: 0.75em;
  margin: 0 0.4em;
  position: relative;
  top: 0.05em;
}

#breadcrumbs span:last-child {
  display: none;
}

#breadcrumbs a:hover {
  color: var(--accent-color);
}

@media (max-width: 700px) {
  #breadcrumbs {
    display: block;
    position: relative;
  }

  #breadcrumbs a,
  #breadcrumbs span {
    display: none!important;
  }

  #breadcrumbs a:nth-last-of-type(2) {
    display: block !important;
    max-width: none !important;
    overflow: visible !important;
    white-space: normal !important;
    width: 100%;
    padding-left: 1.2em;
  }

  #breadcrumbs a:nth-last-of-type(2) + .icon-small-chevron-right {
    display: block !important;
    position: absolute;
    left: 0;
    top: 50%;
    margin-left:0;
    transform: translateY(-45%) rotate(180deg);
    color: var(--medium-text-color);
  }
}
