<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>
  {{> header}}
  <section class="site-container">
    <section class="navbar">
      {{> navigation}}
    </section>
    <section class="content">
      <section class="main-section">
        {{> breadcrumbs}}
        {{#selected.how}}
          <section class="main-section-how">
            <section class="main-section-how-left">
              {{> body}}
            </section>
            <section class="main-section-how-right">
              {{> links}}
            </section>
          </section>
        {{/selected.how}}
        {{^selected.how}}
          {{> body}}
        {{/selected.how}}
      </section>
      {{> footer}}
    </section>
  </section>
</body>
</html>
