<section class="navigation" style="display: flex;flex-grow:1;flex-direction: column;justify-content: space-between;">
    <ul style="flex-grow:1">
        <li class="minor signed-out">
            <a href="/" class="{{selected.index}}">
                <span class="icon-folder"></span>Blot
            </a>
        </li>
        <li class="minor signed-in">
            <a href="/sites" class="{{selected.dashboard}}">
                <span  class="icon-folder"></span>Sites
            </a>
        </li>
        <li class="minor break">
            <a href="/how" class="{{selected.how}}">
                <span class="icon-book"></span>Documentation
            </a>
        </li>
        <li class="minor">
            <a href="/templates" class="{{selected.templates}}">
                <span class="icon-stack"></span>Templates
            </a>
        </li>
        <li class="minor">
            <a href="/examples" class="{{selected.examples}}">
                <span class="icon-globe"></span>Explore
            </a>
        </li>
        <li class="minor ">
            <a href="/support" class="{{selected.support}}">
                <span class="icon-support"></span>Support
            </a>
        </li>
        </ul>   
        <ul style="line-height: 1.2;">

        

        <li class="minor ">
            <a href="/questions" class="{{selected.questions}}">
                Questions
            </a>
        </li>

        <li class="minor">
            <a href="/pricing" class="{{selected.pricing}}">
                Pricing
            </a>
        </li>    

               

                <li class="minor">
            <a href="/tools" class="{{selected.tools}}">
                Tools
            </a>
        </li>

 <li class="minor">
            <a href="/news" class="{{selected.news}}">
                Updates
            </a>
        </li>  
        
        <li class="minor">
            <a href="/developers" class="{{selected.developers}}">
                Developers
            </a>
        </li> 

      

        <li class="minor">
            <a href="/about" class="{{selected.about}}">
                About
            </a>
        </li>

    </ul>
</section>