{{{appCSS}}}
{{{body_font.styles}}}

body {
  margin: 2em;
  text-rendering: optimizelegibility;
  background: {{background_color}};
  color: {{text_color}};
  {{#body_font}}
  font-family: {{{stack}}};
  font-size: {{{font_size}}}px;
  line-height: {{{line_height}}};
  {{#weight}}
  font-weight: {{{.}}};
  {{/weight}}
  {{#style}}
  font-style: {{{.}}};
  {{/style}}
  {{/body_font}}
}

header {margin: 2em 0}

.pagination {text-align: center;margin: 2em 0}
.pagination a {margin: 0 1em;display: inline-block;}

a {color: {{accent_color}};}

a.active {color: inherit;text-decoration: none;}

img {max-width: 100%;height: auto;vertical-align: middle;}

.clear {width: 100%;clear: both;display: block;}

.entry {
  margin: 1em auto;
  width: 120px;
  height: 120px;
  display: block;
  float: left;
  overflow: hidden;
  margin: 2em;
  position: relative;
}

.entry:hover img {opacity: 0.8}

.entry .full {position: absolute;top:0;left: 0;right: 0;bottom: 0;z-index: 1}

.entry:before {content: "";display: block;padding-top: 100%;}

.entry img {
  position: absolute;
  top: -1000px;
  bottom: -1000px;
  left: -1000px;
  right: -1000px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.entry .teaser {
  padding: 0.33em;
  max-width:120px;max-height:160px;
  overflow: hidden;
  border: 1px solid {{text_color}};
  border-radius: 4px;
}

.entry .teaser * {
  font-size: calc({{body_font.font_size}}px * 0.8571428571);
  line-height: calc({{body_font.font_size}}px * 1.0714285714);
  text-align: center;
  color: {{text_color}};
}
