<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}

    <p style="font-size: 30px">
      {{#entries}}
      <a href="{{{url}}}" style="text-decoration: none; color: inherit"
        ><span style="line-height: 1.2">{{title}}</span>
      </a>
      <span style="color: #bbb">{{date}} {{^last}}//{{/last}}</span>
      {{/entries}}
    </p>

    <br /><br />

    {{#pagination}}
      <div class="pagination small">
        {{#previous}}
        <a class="light" href="/page/{{previous}}">&larr; Previous page</a>
        &nbsp; &nbsp; &nbsp;
        {{/previous}}
        {{#next}}
        <a class="light" href="/page/{{next}}">Next page &rarr;</a>
        {{/next}}
      </div>
      {{/pagination}}

    {{> footer}}
  </body>
</html>
