<h1>Google Docs</h1>

.gdoc

<p>Supports files created by <a href="https://en.wikipedia.org/wiki/Google_Docs">Google Docs</a>. Much formatting is stripped so posts match the style of your blog.</p>

<p>You must sync your folder with <a href="/how/sync/google-drive">Google Drive</a> in order to publish Google Docs.</p>

<h2>Blockquotes</h2>

<p>You can use Markdown or email-style > characters for block quoting. They are presented as:</p>

<pre>> This is a blockquote with two paragraphs.
>
> This is the second pragraph. Vestibulum enim wisi.</pre>


