@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/geist-mono/400.eot?version=98d318&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/geist-mono/400.eot?version=98d318&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/geist-mono/400.woff?version=42bc6c&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/geist-mono/400.ttf?version=bfe1cc&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/geist-mono/400.otf?version=d51446&extension=.otf') format('opentype');
}
.pull-double {margin-left:-0.6em}
.push-double{margin-right:0.6em}
.pull-single{margin-left:-0.6em}
.push-single{margin-right:0.6em}
.push-double,.push-single{display:inline-block}
