{
    # Staging LetsEncrypt endpoint for testing
    # debug
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

# Main server block
cdn.{$BLOT_HOST} {$BLOT_HOST} {
    # Proxy to Node.js application
    reverse_proxy node-app:8080 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Request-ID {uuid}
        
        # Add no-cache header
        header_down Cache-Control "no-cache"
    }
}