---
Link: https://bear.app/
Platforms: macOS, iOS
Price: Free with optional Pro subscription
Files: Markdown
Features: Textbundle
---

<h1>Bear</h1>
<h2>Create a website with Bear</h2>

<p>Bear is a note-taking and writing application for Apple platforms (macOS, iOS, iPadOS). It uses Markdown as the primary text formatting system and offers organization via tags rather than traditional folders. </p>

<h2>How to use Bear with Blot</h2>
<ol>
    <li><strong>Download Bear:</strong> Get Bear from the <a href="https://bear.app/">official site</a>, the Mac App Store, or the iOS App Store. Install and open the app.</li>
    <li><strong>Create site on Blot:</strong> <a href="/sites/sign-up">Sign up</a> and set up your site. Decide how you want to <a href="/how/sync">sync your folder</a> with Blot.</li>
    <li><strong>Write a new post:</strong> Open Bear and create a new note. Use <a href="/how/files/markdown">Markdown</a> to structure your content with headings, lists, links, and images. Bear supports advanced Markdown features such as inline links, checkboxes, and code blocks.</li>
    <li><strong>Export your post as Markdown:</strong> Use Bear’s export feature to save your note as a Markdown file. Go to the “More Options” menu (•••) and select <strong>Export</strong>, then choose <strong>Markdown</strong>.</li>
    <li><strong>Publish your post:</strong> Save the exported Markdown file directly into the folder synced with Blot. Once saved, Blot will automatically publish your post to your site.</li>
</ol>

<h2>TextBundle</h2>

<p>Blot supports the <a href="/how/files/markdown#textbundle">TextBundle</a> format, which lets you embed images in Markdown files. We recommend configuring Bear to use this file format.</p>
