---
Link: https://ulysses.app/
Platforms: macOS, iOS
Files: Markdown
---

<h1>Ulysses</h1>

<h2>Write your posts with Ulysses</h2>

<p>Blot supports the <a href="/how/files/markdown#textbundle">TextBundle</a> format, which lets you embed images in Markdown files. We recommend configuring Ulysses to use this file format.</p>

<h2>Configure Ulysses on iOS</h2>

<ol>
    <li>Create a new 'External folders' if you haven't already. Then: </li>
    <li>hard press your Dropbox folder to open the settings menu</li>
    <li>press 'Get Info' then make sure 'Read and Write Markdown files' is enabled, and set 'Default File Extension' to '.textbundle'.</li>
</ol>