@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/geist/400.eot?version=280f76&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/geist/400.eot?version=280f76&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/geist/400.woff?version=2f8a94&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/geist/400.ttf?version=3bf843&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/geist/400.otf?version=4b8355&extension=.otf') format('opentype');
}
@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/geist/400-italic.eot?version=e59360&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/geist/400-italic.eot?version=e59360&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/geist/400-italic.woff?version=090047&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/geist/400-italic.ttf?version=5f28e6&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/geist/400-italic.otf?version=e42485&extension=.otf') format('opentype');
}
.pull-double {margin-left:-0.346em}
.push-double{margin-right:0.346em}
.pull-single{margin-left:-0.178em}
.push-single{margin-right:0.178em}
.push-double,.push-single{display:inline-block}
