@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('{{{config.cdn.origin}}}/fonts/geist/400.eot?version=759f2a&extension=.eot'); 
  src: url('{{{config.cdn.origin}}}/fonts/geist/400.eot?version=759f2a&extension=.eot#iefix') format('embedded-opentype'), 
       url('{{{config.cdn.origin}}}/fonts/geist/400.woff?version=36adb7&extension=.woff') format('woff'),
       url('{{{config.cdn.origin}}}/fonts/geist/400.ttf?version=1713ac&extension=.ttf') format('truetype'),
       url('{{{config.cdn.origin}}}/fonts/geist/400.otf?version=23188f&extension=.otf') format('opentype');
}
.pull-double {margin-left:-0.346em}
.push-double{margin-right:0.346em}
.pull-single{margin-left:-0.178em}
.push-single{margin-right:0.178em}
.push-double,.push-single{display:inline-block}
