<h2>Ignore a file</h2>
<p>You can <a href="/how/posts#prevent-a-file-becoming-a-post"></a>prevent a file from becoming a post or page if you
  start its name with an underscore. For example:</p>

<table >
  <tbody>
    <tr>
      <td>
        <span class="icon-file"></span> _Apple.jpg
     </td>
     <td>
        Not published because the image’s name starts with an underscore.
     </td>
    </tr>
  <tr>
    <td>
      <span class="icon-folder"></span> _Fruit
      <span class="light">›</span>
      <span class="icon-file"></span> Banana.jpg
   </td>
    <td>
        Not published because the image is in folder whose name starts with an underscore.
    </tr>   
  </tbody>
</table>