 <ul class="clients files">
     <li><a href="/how/files/markdown"><span class="a"><span class="icon-file-check"></span> Markdown </span> {{> chevron}}</a></li>
     
     <li><a href="/how/files/images"><span class="a"><span class="icon-file-check"></span> Images </span> {{> chevron}}</a></li>

     <li><a href="/how/files/word-documents"><span class="a"><span class="icon-file-check"></span> Word Documents </span> {{> chevron}}</a></li>
     
     <li><a href="/how/files/google-docs"><span class="a"><span class="icon-file-check"></span> Google Docs </span> {{> chevron}}</a></li>
     
     <li><a href="/how/files/bookmarks"><span class="a"><span class="icon-file-check"></span> Bookmarks </span> {{> chevron}} </a></li>

     <li><a href="/how/files/html"><span class="a"><span class="icon-file-check"></span> HTML </span> {{> chevron}} <!-- &nbsp; .htm --></a></li>

    <li><a href="/how/files/org"><span class="a"><span class="icon-file-check"></span> Org Mode </span> {{> chevron}}</a></li>
</ul>