{{#account}}

<form method='post' class="dashboard-form" style="padding-top:0;margin-top:0">

  <p>If you disconnect <strong>Google Drive</strong>, your site and folder on Blot will stay the same. Blot won’t access your Google Drive folder, and changes on Google Drive won’t affect your site.</p>

  <input type="hidden" name="_csrf" value="{{csrftoken}}">
  <div class="buttons">
    <button type="submit">Disconnect Google Drive</button>

    <a href="{{{base}}}">Cancel</a>
  </div>
</form>

{{/account}}

