{{#account}}
<div class="live-updates">

{{#error}}

<form class="mess error" action="{{{base}}}/set-up-folder" method="post">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <input type="hidden" name="email" value="{{email}}">
    {{error}}
</form>


<a class="line" href="{{{base}}}/setup">
    <span class="label">Reconnect</span>
    <span class="center"><span class="link">Reconnect to Google Drive</span>
</a>


{{/error}}

  {{^error}}

{{> status-line}}


  {{#folderId}}
  <a class="line" href="https://drive.google.com/drive/folders/{{folderId}}" target="_blank">
    <span class="label">Folder on Google Drive</span>
    <span class="center">
        {{#folderName}}
        <span><span class="icon-folder"></span> {{folderName}}</span><br>
             <span style="border-radius: 5px;
  background-color: #e4eafb;
  color: #2c00ff;
  font-size: 14px;
  font-weight: 600;
  right: 0;
  border: none;
  margin:12px 0 6px 0;
  display: inline-block;
  padding: 10px 13px;
" href="https://drive.google.com/drive/my-drive" target="_blank">Open on Google Drive <svg style="fill:currentColor;transform:rotate(-45deg);position:relative;top:3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8.22 2.97a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l2.97-2.97H3.75a.75.75 0 0 1 0-1.5h7.44L8.22 4.03a.75.75 0 0 1 0-1.06Z"></path></svg></span>
          
                   <br>
          <span style="color:var(--medium-text-color);max-width:500px;display: block;margin-top: 10px;font-size:14px">
            {{#preparing}}
          Please wait to make any changes to this folder until the set-up is complete.
        {{/preparing}}
        {{^preparing}}
          You can rename, share and move this folder.
        {{/preparing}}
        </span> 

      


 
        {{/folderName}}
      </span>
    
    
      </a>
  {{/folderId}}

  {{^folderId}}
  {{#serviceAccount.user}}
  <div class="line">
    <div class="label">Set up folder</div>
    <div class="center">
      <ul class="steps">
        <li class="complete">
           <span style="color:green;font-size: 12px;position: absolute;top:6px;left:-7px;z-index: 1;" class="icon-small-check"></span> 
           <span style="font-size:14px;color:var(--medium-text-color)">Add your Google Drive account</span><br>
                 <a href="{{{base}}}/setup" style="margin-top:4px;display: block;">
    <span class="center">{{email}}</span>
    <span class="link">Edit</span>
   </a>
</li>
{{#nonEditorPermissions}}
    <li class="complete">
      <span style="color: orange; font-size: 12px; margin-right: 4px; position: absolute;top:6px;left:-7px;z-index: 1;" class="icon-small-alert"></span>
            
            <span style="font-size:14px;color:var(--medium-text-color)">The permissions granted to Blot are not sufficient. </span><br>
      <span class="center">Please give Blot 'Editor' permissions.</span>
    </a>
    </li>
  {{/nonEditorPermissions}}
{{#nonEmptyFolderShared}}
   <li class="complete">
     <span style="color: orange; font-size: 12px; margin-right: 4px; position: absolute;top:6px;left:-7px;z-index: 1;" class="icon-small-alert"></span>
          
           <span style="font-size:14px;color:var(--medium-text-color)">The folder on Google Drive which you shared has items inside. </span><br>
    <span class="center">Please share an empty folder.</span>
   </a>
  </li>
{{/nonEmptyFolderShared}}
<li>
   <span style="font-size:14px;color:var(--medium-text-color)">Create a folder in Google Drive and share the folder with:</span><br style="margin-bottom: 4px;">
    <span>{{emailAddress}}</span> <button class="copy" data-copy="{{emailAddress}}"><span class="icon-copy"></span> Copy</button>

    <br><Br style="margin-bottom:6px">
        <a style="border-radius: 5px;
  background-color: #e4eafb;
  color: #2c00ff;
  font-size: 14px;
  font-weight: 600;
  right: 0;
  border: none;
  padding: 10px 13px;
" href="https://drive.google.com/drive/my-drive" target="_blank">Open Google Drive <svg style="fill:currentColor;transform:rotate(-45deg);position:relative;top:3px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8.22 2.97a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l2.97-2.97H3.75a.75.75 0 0 1 0-1.5h7.44L8.22 4.03a.75.75 0 0 1 0-1.06Z"></path></svg></a>

</li>
      </ul>

    </div>
  </div>
  {{/serviceAccount.user}}
  {{/folderId}}


  {{#folderId}}
   <a class="line" href="{{{base}}}/setup">
    <span class="label">Account on Google Drive</span>
    <span class="center"><span>{{email}}</span><span class="link">Edit</span>
</span>
   </a>

   {{> disconnect-line}}
  {{/folderId}}

  {{^folderId}}
  <div class="line">
    <span class="label">Status</span>
    <span class="center">  
      {{> sync-status}}
    </span>
  </div>
  
  <form action="{{{base}}}/disconnect" method="POST">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <div class="buttons">
        <button type="submit">Cancel</button> 
    </div>  
</form>
  {{/folderId}}
  {{/error}}

</div>
<br><br>
{{/account}}
