

<div class="inset">
  
<p>Enter the email for your Google Drive account to link your folder.</p>

  <form class="dashboard-form" action="{{{base}}}/set-up-folder" method="post">
    <input type="hidden" name="_csrf" value="{{csrftoken}}">
    <label for="email">Google Drive account:</label>
    <input type="text" name="email" value="{{suggestedEmail}}">
    <div class="buttons">
      <button type="submit">Add email</button> 
      <button type="submit" name="cancel" value="true">Cancel</button> 
    </div>
  </form>

</div>
