{{> close-button}}

<form method='post' class="dashboard-form" style="padding: 0;margin: 0;">
  <style type="text/css">

button[name="client"] {
  background: none;max-width:475px;margin-bottom: 0;
  padding: 10px 0;border:none;border-top:1px solid var(--border-color);
  text-align: left;display: block;width: 100%;color:var(--accent-color);padding: 12px;font-size:var(--font-size)
}
button[name="client"] b {
  display: block;
}

button[name="client"] span.icon-chevron {
  color: var(--border-color);
}

button[name="client"]:hover span.icon-chevron {
  color: var(--accent-color);
}

button[name="client"]:hover {background: var(--light-background-color);cursor: pointer;}
</style>

  <p style="max-width: 400px;">Choose a way to sync your site’s folder. Files inside become posts and pages.</p>

  <input type="hidden" name="_csrf" value="{{csrftoken}}">

{{#clients}}


  <button type="submit" name="client" value="{{name}}" style="display: flex;align-items: center;justify-content: space-between;">
    <span>
    <img width="16" height="16" src="{{#cdn}}/images/sync/{{name}}.svg{{/cdn}}" style="position: relative;top:2px;margin-right: 4px;" />
   {{display_name}}
    </span>

   <span class="icon-chevron"></span>
  </button>

{{/clients}}

<div class="buttons">
  <a href="{{{base}}}">Set up later</a>
</div>

</form>
