<span class="sync-status" data-sync-status-url="{{{dashboardBase}}}/status">
    <span class="sync-status-icon">
        <span class="status-synced">
            <span style="color:green;font-size: 12px;margin-right: 4px;position: relative;top:-2px" class="icon-small-check"></span>
        </span>
        <span class="status-error">
            <span style="color: orange; font-size: 12px; margin-right: 4px; position: relative; top: -2px" class="icon-small-alert"></span>
        </span>
        <span class="status-syncing">
            <span class="loading"></span>
        </span>
    </span>
    <span class="sync-status-text">{{blog.status.message}}</span>
</span>