<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}

    <p class="entries">
      {{#entries}}
      <a href="{{{url}}}" 
        ><span>{{title}}</span>
      </a>
      <span class="light">{{date}} {{^last}}//{{/last}}</span>
      {{/entries}}
    </p>

    <br><br>

    {{#pagination}}
      <div class="pagination small">
        {{#previous}}
        <a class="light" href="/page/{{previous}}">&larr; Previous page</a>
        &nbsp; &nbsp; &nbsp;
        {{/previous}}
        {{#next}}
        <a class="light" href="/page/{{next}}">Next page &rarr;</a>
        {{/next}}
      </div>
      {{/pagination}}

    {{> footer}}
  </body>
</html>
