<div style="display:flex;min-height:80vh;gap:2em">
	  {{> source-code-sidebar}}
      <div class="editor-container">
      <form method="post" action="{{{base}}}/source-code/create" class="dashboard-form" style="padding:2rem">
        {{> message}}

        <input type="hidden" name="_csrf" value="{{csrftoken}}" />
        <label>File name:</label><br>
        <input type="text" name="name" placeholder="example.html" />
        <div class="buttons">
              <button type="submit">
                  Create new file
              </button>
              <a href="{{{base}}}/source-code">Cancel</a>
          </div>
      </form>
      </div>
</div>
{{> source-code-footer}}