<div style="display:flex;min-height:80vh;gap:2em">
  <div style="flex-shrink:0;display: flex;flex-direction: column;width:284px">
	  {{> source-code-sidebar}}
  </div>
  <div style="width:calc(100vw - 670px);font-size: 14px;border:1px solid var(--border-color);border-radius: var(--border-radius);">
    {{> source-code-header}}
    
    {{#view}}
    <div id="editor"></div>
    <textarea
      id="source"
      style="display:none"
      data-mode="{{editorMode}}"
      name="content"
    >{{content}}</textarea>
    {{/view}}
    
  </div>
</div>
<script defer src="{{#cdn}}/js/template-source-editor.min.js{{/cdn}}"></script>