<div style="display:flex;min-height:80vh;gap:2em">
	  {{> source-code-sidebar}}
      <div class="editor-container">
      {{> source-code-header}}

        <form method="post" action="{{{base}}}/source-code/{{view.name}}/rename"  method="post" class="dashboard-form" style="padding:2rem">
          <input type="hidden" name="_csrf" value="{{csrftoken}}" />
          <label>File name:</label><br>
          <input type="text" name="name" value="{{view.name}}" /><br>
          <div class="buttons">
            <button type="submit">
              Rename
            </button>
            <a href="{{{base}}}/source-code/{{view.name}}/edit">Cancel</a>
          </div>
        </form>
      </div>
    </div>
</div>
{{> source-code-footer}}


