<div
	style="display:flex;align-items: center;height:2rem;padding:8px 1rem;"
>
	<div style="flex-grow:1;flex-basis:50%;">
		<strong style="">{{view.name}}</strong>
		<a class="smallLink" href="{{{base}}}/source-code/{{view.name}}/rename">Rename</a>
		<a class="smallLink" href="{{{base}}}/source-code/{{view.name}}/delete">Delete</a>
	</div>
	
	<form
		style="flex-basis: 50%;margin:0 0 0 1rem;flex-grow:1;display: flex"
		class="save"
		action="{{{base}}}/source-code/{{view.name}}/edit"
	>
		<input type="hidden" name="content" value="{{content}}" />
		<input type="hidden" name="_csrf" value="{{csrftoken}}" />
		<button
			id="save"
			class="button disabled small"
			type="submit"
			value="Save"
			disabled
		>Save changes
		</button>
	</form>


</div>

<div class="error" style="display: none;">
</div>