<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}

    <h1>Posts tagged “{{tag}}”</h1>

    {{#entries}}
    <a href="{{{url}}}">{{title}}</a> {{date}} <br>
    {{/entries}}

    {{#pagination}}
    <div class="pagination">
      {{#previous}}
      <a href="/tagged/{{slug}}/page/{{previous}}">&larr; Newer</a>
      {{/previous}}
      Page {{current}} of {{total}}
      {{#next}}
      <a href="/tagged/{{slug}}/page/{{next}}">Older &rarr;</a>
      {{/next}}
    </div>
    {{/pagination}}

    {{> footer}}
  </body>
</html>