name: Screenshots

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [21.7.3]
        pandoc-version: [3.1.1]
        redis-version: [6.2.6]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: ./package.json

      - name: Cache Pandoc
        id: cache-pandoc
        uses: actions/cache@v4
        with:
          path: data/pandoc
          key: pandoc-${{ matrix.pandoc-version }}-macos

      - name: Set up Pandoc on macos
        run: |
          if [ ! -f "data/pandoc/pandoc-${{ matrix.pandoc-version }}/bin/pandoc" ]; then
            mkdir -p data/pandoc
            cd data/pandoc
            wget https://github.com/jgm/pandoc/releases/download/${{ matrix.pandoc-version }}/pandoc-${{ matrix.pandoc-version }}-macOS.zip -O pandoc.zip
            unzip pandoc.zip
            cd ../..
          fi
          export BLOT_PANDOC_PATH=$(pwd)/data/pandoc/pandoc-${{ matrix.pandoc-version }}/bin/pandoc
          echo "BLOT_PANDOC_PATH=$(pwd)/data/pandoc/pandoc-${{ matrix.pandoc-version }}/bin/pandoc" >> $GITHUB_ENV
          $BLOT_PANDOC_PATH --version

      - name: Cache Homebrew packages
        id: cache-homebrew
        uses: actions/cache@v4
        with:
          path: |
            ~/Library/Caches/Homebrew
            /opt/homebrew/var/homebrew/locks
          key: homebrew-${{ runner.os }}-${{ hashFiles('**/package.json') }}
          restore-keys: |
            homebrew-${{ runner.os }}-

      - name: Use dnsmasq to resolve blot.development
        run: |
          brew install kubernetes-cli dnsmasq
          export LOCAL_CUSTOM_TLD="blot.development"
          echo "address=/.${LOCAL_CUSTOM_TLD}/127.0.0.1" >> $(brew --prefix)/etc/dnsmasq.conf
          sudo mkdir /etc/resolver/
          cat <<EOF | sudo tee /etc/resolver/${LOCAL_CUSTOM_TLD}
          nameserver 127.0.0.1
          EOF
          sudo brew services restart dnsmasq
          sudo killall -HUP mDNSResponder
          scutil --dns

      - name: Set up Redis
        run: |
          brew install redis
          brew services start redis

      - name: Configure and start Nginx reverse proxy
        run: |
          brew install nginx
          sudo tee /opt/homebrew/etc/nginx/nginx.conf <<EOF
          events { }
          http {
              server {
                  listen 80;
                  location / {
                      proxy_pass http://localhost:8080;
                      proxy_set_header Host \$host;
                      proxy_set_header X-Real-IP \$remote_addr;
                  }
              }
          }
          EOF
          sudo nginx

      - name: Install Dependencies
        run: npm install

      - name: Take screenshots
        env:
          BLOT_PROTOCOL: http
          BLOT_ENVIRONMENT: development
          BLOT_HOST: blot.development
        run: |
          export BLOT_DIRECTORY=$(pwd)
          export NODE_PATH=$(pwd)/app
          export BLOT_CACHE_DIRECTORY=$(pwd)/cache          
          node app/templates/index.js --no-watch
          node app/index.js &
          echo "Building folders"
          node app/templates/folders/index.js
          echo "Taking screenshots"
          node app/templates/screenshots.js

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Updates screenshots of templates"
            git push
          fi
